In [7]:
# OOPS- FUNCTION
#EVEN ODD
def even_odd(a,b):
    """here a start--->start number
    b--->end number"""
    if a>b:
        a,b=b,a
        en=[x for x in range(a,b) if x%2==0]
        od=[x for x in range(a,b) if x%2!=0]
        print('even nos are: {}\nodd nos are:{}'.format(en,od))

In [9]:
even_odd(40,3)

even nos are: [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]
odd nos are:[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [12]:
num=int(input("enter the numbers"))
if num % 2 ==0:
    print(" given no is even",num)
else:
    print("given no is odd",num)

enter the numbers 3

given no is odd 3

In [25]:
# LEAP YEAR
def leap_year(a,b):
    if a>b:
        a,b=b,a
    ly=[x for x in range(a,b) if (x%4==0 and x%100!=0)or (x%400==0)]
    print('no of leap years are:{}\n leap years are:{}'.format(len(ly),ly))

In [28]:
leap_year(2023,2002)

no of leap years are:5
 leap years are:[2004, 2008, 2012, 2016, 2020]

In [31]:
# TABLES
def table(a,sv):
    i=1
    t1=[]
    while i<=sv:
        t1.append(i*a)
        i+=1
    print(t1)

In [33]:
table(12,10)
table(12,5)
table(17,15)

[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]
[12, 24, 36, 48, 60]
[17, 34, 51, 68, 85, 102, 119, 136, 153, 170, 187, 204, 221, 238, 255]

In [76]:
mix1=['raj','ram',34,36,'ram',56,7,78,9,9.5]
mix2=['ram','ban','mys',56,78,45,90.8,98,9,78.5,56]

In [77]:
# WHOLE NUMBERS AND DECIMAL NUMBERS
def twd(*args):
    text=[x for x in args if type(x)==str]
    wn=[x for x in args if type(x)==int]
    dn=[x for x in args if type(x)==float]
    print('in given mix text are:{} \nwn nos are:{} \ndn nos are:{}'.format(text,wn,dn))

In [78]:
twd(*mix1)

in given mix text are:['raj', 'ram', 'ram']
wn nos are:[34, 36, 56, 7, 78, 9]
dn nos are:[9.5]

In [80]:
twd(*mix2)

in given mix text are:['ram', 'ban', 'mys']
wn nos are:[56, 78, 45, 98, 9, 56]
dn nos are:[90.8, 78.5]

In [82]:
team=['virat','dhoni','siraj','chahal','sanju','kl','sanju','sanju']

In [84]:
def duplicate_rem(*args):
    data=set(args)
    data=list(data)
    print(data)

In [86]:
duplicate_rem(*team)

['chahal', 'virat', 'siraj', 'dhoni', 'sanju', 'kl']

In [96]:
# FUTURE VALUE
#FV=PV*(1+r)^n
plan={'amt':[10000,20000,30000],
      'rate':[0.07,0.08,0.06],
      'year':[3,5,7,10]}

In [101]:
def fv(**kwargs):
    result={'pv':[],'ir':[],'yr':[],'fv':[]}
    for pv in kwargs['amt']:
        for r in kwargs['rate']:
            for n in kwargs['year']:
                f=round(pv*(1+r)**n,0)
                result['pv'].append(pv)
                result['ir'].append(r)
                result['yr'].append(n)
                result['fv'].append(f)
    import pandas
    data=pandas.DataFrame(result)
    print(data)

In [102]:
fv(**plan)

       pv    ir  yr       fv
0   10000  0.07   3  12250.0
1   10000  0.07   5  14026.0
2   10000  0.07   7  16058.0
3   10000  0.07  10  19672.0
4   10000  0.08   3  12597.0
5   10000  0.08   5  14693.0
6   10000  0.08   7  17138.0
7   10000  0.08  10  21589.0
8   10000  0.06   3  11910.0
9   10000  0.06   5  13382.0
10  10000  0.06   7  15036.0
11  10000  0.06  10  17908.0
12  20000  0.07   3  24501.0
13  20000  0.07   5  28051.0
14  20000  0.07   7  32116.0
15  20000  0.07  10  39343.0
16  20000  0.08   3  25194.0
17  20000  0.08   5  29387.0
18  20000  0.08   7  34276.0
19  20000  0.08  10  43178.0
20  20000  0.06   3  23820.0
21  20000  0.06   5  26765.0
22  20000  0.06   7  30073.0
23  20000  0.06  10  35817.0
24  30000  0.07   3  36751.0
25  30000  0.07   5  42077.0
26  30000  0.07   7  48173.0
27  30000  0.07  10  59015.0
28  30000  0.08   3  37791.0
29  30000  0.08   5  44080.0
30  30000  0.08   7  51415.0
31  30000  0.08  10  64768.0
32  30000  0.06   3  35730.0
33  30000  0.06   5  40147.0
34  30000  0.06   7  45109.0
35  30000  0.06  10  53725.0